.About {
    font-family: "Verdana", sans-serif;
}

.About .image-and-text-container {
    display: flex;  
    justify-content: center;
    align-items: center;  
    margin-left: 9vw;
    margin-right: 9vw;
    margin-top: 10vh;
}

.About .image-container img {
    width: 100%;  
}

.About .text-container {
    margin-left: 3vw;
    width: 60vw;
}

.About .text-container h2 {
    margin-bottom: 3.5vh;
    text-align: left;
}

.About .icon-container {
    display: flex;  
    justify-content: center;
    align-items: center;   
    justify-content: flex-start
}

.About .gmail-container img {
    max-width: 7vw;
    transition: transform 0.3s ease;
}

.About .linkedin-container img {
    max-width: 7vw;
    margin-left: 2vw;
    transition: transform 0.3s ease;
}

.About .icon-container img:hover {
    transform: translateY(-1vh);
}

.About button {
    border: none;
    border-radius: 0.75em;
    background-color: var(--primary-light);
    padding: 0.5em 0.8em;
    font-size: 20px;
    font-family: "Verdana", sans-serif;
    margin-top: 3vh;
    float: left;  
}

.About button:hover {
    background-color: var(--primary-pink);
    color: var(--primary-light);
    
}