/* Overalll Carousel Styles */
.carousel .carousel-control-prev-icon {
    visibility: hidden;
}
.carousel:hover .carousel-control-prev-icon {
    visibility: visible;
}

.carousel .carousel-control-next-icon {
    visibility: hidden;
}
.carousel:hover .carousel-control-next-icon {
    visibility: visible;
}

/* Image Carousel Styles */
.image-carousel .carousel {
    width: 100%;
    margin: auto;
    position: relative;
    height: 100%; 
}

.image-carousel .carousel img {
    width: 100%;
    height: 100%; 
    object-fit: cover;  
}

/* Video Carousel Styles */
.video-carousel .carousel {
    width: 100%;
    max-width: 620px;
    margin: auto;
    position: relative;
    height: 100%; 
}

.video-carousel .carousel video {
    width: 100%;
    height: 100%; 
    object-fit: contain;  
}

.video-carousel .carousel-control-prev {
    height: 310px;
}

.video-carousel .carousel-control-next {
    height: 310px;
}