.HomePage {
    margin-top: 2rem;
    font-family: "Verdana", sans-serif;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    width:100%;
}

.image-and-text-container {
    display: flex;  
    justify-content: flex-start;
    align-items: center;      
}

.image-container img {
    width: 100%;  
    margin-top: 20px; 
    margin-right:200px;
}
.image-container {
    display: inline-block;
}

.text-container {
    margin-top: 200px;


}

.video-text-container {
    margin-top: 10px;
}

