.Projects {
    font-family: "Verdana", sans-serif;
}

.Projects .bearly-used {
    display: flex;  
    justify-content: center;
    align-items: center;
    margin-left: 7vw;
    margin-right: 7vw;
    margin-top: 8vh;
}

.Projects .daily-ui {
    display: flex;  
    justify-content: center;
    align-items: center;
    margin-left: 7vw;
    margin-right: 7vw;
    margin-top: 8vh;
}

.Projects .personal-website {
    display: flex;  
    justify-content: center;
    align-items: center;
    margin-left: 7vw;
    margin-right: 7vw;
    margin-top: 8vh;
}

.Projects .text-container {
    width: 77vw;
    margin-left: 2vw;
}

.Projects button {
    color: var(--primary-light) !important;
    font-family: "Verdana", sans-serif;
    text-decoration: underline;
    font-size: 34px; 
    background-color: transparent;
    border-style: none;
}

.Projects button:hover {
    color: var(--primary-pink) !important;
    border-style: solid;
    border-color: var(--primary-light);
    border-radius: 0.5em;
    border-width: 0.2em;
    background-color: var(--primary-light); 
}

.Projects .text-container h1 {
    margin-bottom: 20vh;
    text-decoration: underline;
}

.Projects .text-container h3 {
    text-align: left;
}

.Projects .text-container h4 {
    text-align: left;
}

.Projects .carousel-container {
    width:100%;
}