.Resume {
    margin-top: 30px;
    /* font-family: "Verdana", sans-serif; */
}

.Resume iframe {
    margin-top: 10px;
    width: 100vh;
    height: 100vh;  
}

.Resume a {
    display: flex;
    justify-content: center;  
    align-items: center;
}

.Resume button {
    color: var(--primary-light) !important;
    font-family: "Verdana", sans-serif;
    text-decoration: underline;
    display: block;
    font-size: 38px;
    background-color: transparent;
    border-style: none;
}

.Resume button:hover {
    color: var(--primary-pink) !important;
    border-style: solid;
    border-color: var(--primary-light);
    border-radius: 15px;
    border-width: 5px;
    background-color: var(--primary-light); 
}